.tablesolo .col h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #9c6644;
}

.tablesolo .col p {
    text-align: justify;
}

.tablesolo .col h4 {
    text-align: center;
    font-size: 1.5rem;
}

/* mobile version */
@media (max-width: 768px) {
    .containersolo {
        overflow-x: hidden;
        width: 100%;
    }

    .tablesolo {
        font-size: 10px;
    }

    .containersolo h1 {
        font-size: 25px;
    }

    .containersolo .tablesolo h2 {
        font-size: 20px;
    }

    .containersolo .tablesolo p {
        font-size: 1rem;
    }

    .containersolo .tablesolo th td {
        font-size: 1rem;
    }

}