*{
    background-color: rgb(219, 219, 219);
}
.utama {
    width: 900px;
    height: 50%;
    margin: 2.5em auto;
    padding-top: 30px;
    padding-bottom: 80px;
    border-radius: 10px;
    background: rgb(167, 167, 167);
    box-sizing: border-box;
    box-shadow: 0 5px 10px 5px rgb(59, 59, 59);
}
.head {
    text-align: center;
    background: rgb(167, 167, 167);
}
.tambah {
    text-align: center;
    padding-bottom: 20px;
    background: rgb(167, 167, 167);
}
.table{
    background-color: black;
}
.index, .inti{
    font-family: 'Poppins', sans-serif;
}
.dua {
    width: 80%;
    height: 50%;
    margin: 2.5em auto;
    padding-top: 30px;
    padding-bottom: 80px;
    border-radius: 10px;
    background: rgb(167, 167, 167);
    box-sizing: border-box;
    box-shadow: 0 5px 10px 5px rgb(59, 59, 59);
    text-align: center;
}
.isi {
    background-color: rgb(167, 167, 167);
}
.input h3 {
    font-size: 40px;
    background-color: rgb(167, 167, 167);
}